<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"> <!-- Specifies character encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a beginner's page for learning HTML."> <!--not visible on page but helps search engine understand what page is about-->
    <meta name="author" content="Your Name"> <!--Useful for documentation or tools analyzing the page.-->

    <title>Document</title>

    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     -->
</head>
<body>

    <h1>This is a Heading 1</h1>
    <h2>This is a Heading 2</h2>
    <h3>This is a Heading 3</h3>

    <p>This is a simple paragraph</p>

    <div>
        <img src="logo.png" alt="App Logo">
        <a href="/home/landing">Go to Home</a>
    </div>

    <div>
        <h1>Welcome, <span th:text="${name}">User</span>!</h1>
    </div>

    <img src="https://via.placeholder.com/150" alt="Placeholder Image">

    <p>This is a <span style="color: blue;">blue</span> word.</p>

    
    <div style="color: red; border: 1px solid magenta; padding: 10px; margin: 20px;">

        <h2>My Blog</h2>
        <p>Welcome to my blog about coding and learning.</p>

        <h3>Grouped Content</h3>
        <p>Inside a div.</p>

        <p style="color: blue; font-size: 20px;">This text is blue and bigger!</p>

    
    </div>
    

    <div>
        <h3>Grouped Content</h3>
        <p>Inside a div.</p>

        <p style="color: blue; font-size: 20px;">This text is blue and bigger!</p>

    </div>

    <div>
        <h2>My Blog</h2>
        <p>Welcome to my blog about coding and learning.</p>
    </div>
    
    

    
</body>
</html>